*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.nav{
  background-color: black;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.item{
  display: flex;
}
.logo img{
  width: 110px;
  margin: 0px 20px;
}
.item ul{
  margin-top: 5px;
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  font-family: sans-serif;
}
.button button{
  padding: 8px 16px;
  background-color: #353535;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}


.main1{
  width: 100vw;
  height: 40vh;
  background-color: #dadbf0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-container{
  position: relative;
  display: inline-block;
  box-shadow: 1px 3px 5px gray;
}
.input-container .material-symbols-outlined {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.main11 p{
  text-align: center;
  font-size: 45px;
  margin-bottom: 20px;
  font-family: sans-serif;
}
.input-container input{
  height: 35px;
  width: 450px;
  padding-left: 15px;
  font-weight: bold;
  border-radius: 3px;
}

.main2{
  display: flex;
  background-color: rgba(255, 255, 255, 1);
  padding: 40px;
  justify-content: space-evenly;

}
.main2 hr{
  width: 250px;
}
.main21{
  padding: 20px;
  width: 260px;
  height: 105px;
  background-color: #dfe9f8;
  border: 1px solid white;
  border-radius: 10px;
  font-family: sans-serif;
}
.main21 h3{
  padding-bottom: 10px;
  color: #353535;
  font-size: 16px;
}
.main21 p{
  padding: 10px 0px;
  font-size: 14px;
  color: #505050;
}
.main22{
  padding: 20px;
  width: 260px;
  height: 105px;
  background-color: #dfe9f8;
  border: 1px solid white;
  border-radius: 10px;
  font-family: sans-serif;
}
.main22 h3{
  padding-bottom: 10px;
  color: #353535;
  font-size: 16px;
}
.main22 p{
  padding: 10px 0px;
  font-size: 14px;
  color: #505050;
}






.footer{
  height: 35vh;
  width: 100vw;
  background-color: black;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
}
.footer table{
  /* border: 5px solid red; */
  height: 100%;
  width: 85vw;
  border-collapse: collapse; 
  color: white;
  font-weight: lighter;
}
.footer-heading th{
  font-weight: bold;
  color: white;
  font-family: sans-serif;
  text-align: left;
  width: 20%;
}
.heading1{
  font-size: 11px;
  margin: 0;
  font-style: normal;
  font-family: cursive;
  font-weight: normal;
}
.heading1 th{
  text-align: left;
  cursor: pointer;
}
.heading1 img{
  width: 12px;
}

